body{
  background-color: white;
}
.container{
  background-color: white;
  padding: 20px;
}
.center{
  text-align: center;
  padding-top: 50px;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
.error{
  color: rgb(110, 7, 20);
}
Footer
© 2022 GitHub, Inc.